@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
@media only screen and (max-width: 768px) {
    .locomoco{background-color: white !important;width: 100%;}
    .locomoco2{font-family: 'Open Sans', sans-serif;}
    }
@media only screen and (min-width: 768px) {
    .locomoco{
        margin-left: 50px;
        margin-right: 50px;
        background-color: white!important;
        border-radius: 2px;
        height: auto;
    }
    .locomoco2{width: 65%;font-family: 'Open Sans', sans-serif;}
 
    }

.text-center{
   text-align: center;
   padding-top: 60px;
   padding-bottom: 30px;
}
h2{
    font-family: 'Encode Sans', sans-serif !important;
    font-display: swap;
}
h3{
    font-family: 'Montserrat', sans-serif !important;
    font-display: swap;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    
}
li{
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    margin-left: 30px;
}
.change2{
    margin-bottom: 0px;
}
.last{
    padding-bottom:100px;
}